// BASE
// GENERAL
// ------------------




// SELECTION TEXT
// =================================================
::-moz-selection { /* Code for Firefox */
  color: $color-brand-1;
  background: $color-brand-2;
}

::selection {
  color: $color-brand-1;
  background: $color-brand-2;
}



// FORMS
// =================================================
::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-weight: 400;
    color: $color-brand-2-light;
}

::-moz-placeholder {
	/* Firefox 19+ */
	font-weight: 400;
    color: $color-brand-2-light;
}

:-ms-input-placeholder {
	/* IE 10+ */
	font-weight: 400;
    color: $color-brand-2-light;
}

:-moz-placeholder {
	/* Firefox 18- */
	font-weight: 400;
    color: $color-brand-2-light;
}