::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color-brand-2-light;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-brand-2-light;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $color-brand-2-light;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $color-brand-2-light;
}