@font-face {
    font-family: 'Adelle Regular';
    src: url('~@/assets/fonts/Adelle-Regular.eot');
    src: url('~@/assets/fonts/Adelle-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-Regular.woff') format('woff'),
        url('~@/assets/fonts/Adelle-Regular.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-Regular.svg#Adelle-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adelle Light';
    src: url('~@/assets/fonts/Adelle-Light.eot');
    src: url('~@/assets/fonts/Adelle-Light.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-Light.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-Light.woff') format('woff'),
        url('~@/assets/fonts/Adelle-Light.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-Light.svg#Adelle-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adelle Bold';
    src: url('~@/assets/fonts/Adelle-Bold.eot');
    src: url('~@/assets/fonts/Adelle-Bold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-Bold.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-Bold.woff') format('woff'),
        url('~@/assets/fonts/Adelle-Bold.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-Bold.svg#Adelle-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adelle SemiBold';
    src: url('~@/assets/fonts/Adelle-SemiBold.eot');
    src: url('~@/assets/fonts/Adelle-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-SemiBold.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-SemiBold.woff') format('woff'),
        url('~@/assets/fonts/Adelle-SemiBold.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-SemiBold.svg#Adelle-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Adelle ExtraBold';
    src: url('~@/assets/fonts/Adelle-ExtraBold.eot');
    src: url('~@/assets/fonts/Adelle-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-ExtraBold.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-ExtraBold.woff') format('woff'),
        url('~@/assets/fonts/Adelle-ExtraBold.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-ExtraBold.svg#Adelle-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Adelle Heavy';
    src: url('~@/assets/fonts/Adelle-Heavy.eot');
    src: url('~@/assets/fonts/Adelle-Heavy.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-Heavy.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-Heavy.woff') format('woff'),
        url('~@/assets/fonts/Adelle-Heavy.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-Heavy.svg#Adelle-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Adelle Italic';
    src: url('~@/assets/fonts/Adelle-Italic.eot');
    src: url('~@/assets/fonts/Adelle-Italic.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-Italic.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-Italic.woff') format('woff'),
        url('~@/assets/fonts/Adelle-Italic.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-Italic.svg#Adelle-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adelle LightItalic';
    src: url('~@/assets/fonts/Adelle-LightItalic.eot');
    src: url('~@/assets/fonts/Adelle-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-LightItalic.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-LightItalic.woff') format('woff'),
        url('~@/assets/fonts/Adelle-LightItalic.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-LightItalic.svg#Adelle-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Adelle BoldItalic';
    src: url('~@/assets/fonts/Adelle-BoldItalic.eot');
    src: url('~@/assets/fonts/Adelle-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-BoldItalic.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-BoldItalic.woff') format('woff'),
        url('~@/assets/fonts/Adelle-BoldItalic.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-BoldItalic.svg#Adelle-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adelle SemiBoldItalic';
    src: url('~@/assets/fonts/Adelle-SemiBoldItalic.eot');
    src: url('~@/assets/fonts/Adelle-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-SemiBoldItalic.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-SemiBoldItalic.woff') format('woff'),
        url('~@/assets/fonts/Adelle-SemiBoldItalic.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-SemiBoldItalic.svg#Adelle-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Adelle ExtraBoldItalic';
    src: url('~@/assets/fonts/Adelle-ExtraBoldItalic.eot');
    src: url('~@/assets/fonts/Adelle-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-ExtraBoldItalic.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-ExtraBoldItalic.woff') format('woff'),
        url('~@/assets/fonts/Adelle-ExtraBoldItalic.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-ExtraBoldItalic.svg#Adelle-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Adelle HeavyItalic';
    src: url('~@/assets/fonts/Adelle-HeavyItalic.eot');
    src: url('~@/assets/fonts/Adelle-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Adelle-HeavyItalic.woff2') format('woff2'),
        url('~@/assets/fonts/Adelle-HeavyItalic.woff') format('woff'),
        url('~@/assets/fonts/Adelle-HeavyItalic.ttf') format('truetype'),
        url('~@/assets/fonts/Adelle-HeavyItalic.svg#Adelle-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}