// COLOR
$color-flamingo: #f05133;
$color-totem-pole: #9d0a0e;
$color-milano-red: #bd2c00;
$color-tia-maria: #c9510c;
$color-cinnabar: #e24329;
$color-orange: #fc6d26;
$color-sea-buckthorn: #fca326;
$color-cola: #413000;

// BRAND
$color-brand-1: $color-flamingo;
$color-brand-2: $color-cola;

// GRAY SCALE
$color-gray: #3f3f3f;
$color-light: #fafafa;
$color-silver: #ececec;
$color-white: #ffffff;